<div class="center jumbotron">
  <h2><span style="color:#58FA82">A</span>lpha Blog For Rails Developers</h2>
  <br/>
  <br/>
  <p><img src= "https://blog.rosehosting.com/blog/wp-content/uploads/2013/07/ruby-icon.png"
          alt="Ruby Icon" style="width:50px;height:50px;"></p>
  <br/>
  <%= link_to "Sign up now!", "#", class: "btn btn-default btn-lg" %>
  <br/>
  <br/>
</div>