@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default{
  background-color:#000000;
  border: 1px solid #58FA82;
}

body{
  background-color: #66675C;
}
.jumbotron h2{
  color:#fff;
}

.jumbotron{
  background-image: image-url("stress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #58FA82;
}

h1, h2{
  color:#fff;
}

#logo{
  float:left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-weight:bold;
}

#logo:hover{
  color: #58FA82;
  text-decoration: none;
}

.center{
  text-align:center;
}

.btn{
  opacity:0.7;
  border-color: #58FA82;
}

a{
  color:#58FA82;
}

a:hover{
  color:#fff;
  text-decoration: none;
}
a:click{
  color:#fff;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #58FA82;
  color:#000;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}