<div class="container">
  <footer class="footer">
    <small>
      This blog app was developed by Cami "Red" Hayes.<a href="http://camihayes.github.io/alpha-blog"
                                                            target="_blank"> View it on GitHub.</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>